@font-face {
    font-family: "Roboto-Regular";
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}


nav {
    background: #52627A;
    padding: 15px;
}

.navigation-bar {
    text-align: center;
}

.navigation-bar a {
    margin: 15px;
    text-decoration: none;
    color: #EBE5E0;
    font-family: Roboto-Regular;
    border: 1px solid #ffffff;
    padding: 5px;
    border-radius: 5px;
}

.navigation-bar a:hover {
    background: #EBE5E0;
    color: #000000;
}

.navigation-bar a:active {
    background: #EBE5E0;
    color: #000000;
}